@import ./vars
@import ./checkmark


.btn 
  display: inline-block
  border: none
  background: #555
  color: #fff
  padding: 7px 20px
  cursor: pointer

  &.btn-submit
      background: $col-2

.todo-item:hover
  background: rgba(255, 255, 255, 0.5)

.cancel-ico, .check-ico, .delete-ico
  color: $col-4
  float: left
  position: relative
  top: -3px
  margin-right: 10px
  font-size: 25px
  cursor: pointer

.cancel-ico
  color: #b83030

.delete-ico
  float: right
  font-size: 25px
  background-color: #b83030
  padding: 3px
  color: #fff
  border-radius: 50%
  margin: 0